@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <image class="ribbon" src=http://www.birthdaydirect.com/images/29852-pink-ribbon-cutout.jpg width="400px", height="400px"><br />
    <p class="lead"><em>Patient Pathology </em>is your breast pathology tracking aide, simplifying the daily needs of providers everywhere.</p>
    
</div>

