@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <image class="ribbon" src=http://www.birthdaydirect.com/images/29852-pink-ribbon-cutout.jpg width="400px", height="400px"><br />
    <p class="lead">Your breast pathology tracking aide.</p>
    
</div>

