@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <image src=http://www.birthdaydirect.com/images/29852-pink-ribbon-cutout.jpg width="400px", height="400px">
    <p class="lead">This application was developed for healthcare providers to track breast biopsy results. Providers can view any of the the breast biopsies performed at their facility.</p>
    
</div>

